.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 300ms ease-in-out;
    margin: 0;
}

.modal__container {
    padding-bottom: 16px;
    margin: 16px 190.5px;
    height: 100%;
    width: auto;
    background-color: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal__cancel {
    display: none;
}

.module__content {
    flex-direction: column;
}

.modal__subtask {
    position: relative;
    top: 0;
    margin-top: 12px;
}

.modal__close {
    width: 100%;
    padding: 6px 12px;
}

.modal__save_btn {
    padding: 6px 12px;
}

.modal__end-btn {
    display: none;
}

@media(max-width: 992px) {
    .modal {
        width: 100%;
        margin: 0;
    }
}

@media(max-width: 768px) {
    .modal {
        width: 100%;
        margin: 0;
    }

    .modal__container {
        margin: 20px 16px;
    }

    .modal__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #2E3238;
        text-transform: none;
    }

    .modal__save {
        display: flex;
    }
}

@media(max-width: 380px) {

    .modal__container {
        margin: 0;
    }

    .modal__title {
        text-transform: uppercase;
        font-family: "Open Sans";
        font-weight: 600;
        font-style: normal;
        font-size: 14px;
        color: #5C6470;
    }

    .modal___btn {
        width: 32px;
        height: 32px;
        display: flex;
        margin-right: 16px;
    }

    .modal__cancel {
        display: flex;
        margin-right: 16px;
    }

    .modal__end-btn {
        display: block;
        margin-top: 16px;
        width: 100%;
    }
}